@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html body {
    width: 100vw;
    height: 300vh;

    background-color: transparent;
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    user-select: none;
    overflow: hidden;

    padding: 0;
    margin: 0;
}

main {
    overflow: hidden;
    border-radius: 8px;
}

.Footer,
.Header{
    display: flex;
    overflow: hidden;

    background-color: rgb(32, 32, 32);
    height: 30px;
}

.Header input, 
.Footer input {
    background-color: transparent;
}

.Header {
    -webkit-app-region: drag;
}

.Footer {
    -webkit-app-region: none;
}

.Header input:first-of-type {
    margin-left: auto;
}

.Header img {
    width: 20px;
    height: 20px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.Header p {
    margin-top: auto;
    margin-bottom: auto;

    padding: 0;
}

.Content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 240px;
    padding: 10px;

    background-color: rgb(24, 24, 24);

    font-size: 12px;
}

.Content input {
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

input {
    border: none;
    outline: none;

    -webkit-app-region: none;

    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(255, 255, 255);

    height: 30px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

input:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
  
.container:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.container input:checked ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.05);
}

.container input:hover ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;

    width: 5px;
    height: 10px;

    border: solid white;
    border-width: 0 3px 3px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 